<form action="{% url 'adjust_bag' item.item_id %}" method="POST" class="form update-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <button type="button" class="decrement-qty btn btn-sm btn-black rounded-0"
                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                <span>
                    <i class="fas fa-minus fa-sm"></i>
                </span>
            </button>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <button type="button" class="increment-qty btn btn-sm btn-black rounded-0"
                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                <span>
                    <i class="fas fa-plus fa-sm"></i>
                </span>
            </button>
        </div>
        {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
        {% endif %}
    </div>
</form>
<a class="update-link text-info"><i class="fas fa-sync"></i></a>
<a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}" data-item_id="{{ item.item_id }}" data-size="{{ item.size }}"><i class="fa fa-trash"></i></a>