<script type="text/javascript">
    const handleEnableDisable= (inputEl) => {
        const currentValue = parseInt(inputEl.value);
        const minusDisabled = currentValue < 2;
        const plusDisabled = currentValue > 98;
        inputEl.parentNode.querySelector('.increment-qty').disabled = plusDisabled;
        inputEl.parentNode.querySelector('.decrement-qty').disabled = minusDisabled;
    }

    const allQtyInputs = document.querySelectorAll('.qty_input');
    allQtyInputs.forEach((el) => {
        const itemId = el.dataset.item_id;
        handleEnableDisable(el);

        el.addEventListener('change', () => {
            handleEnableDisable(el);
        });
    })

    document.querySelectorAll('.increment-qty').forEach((el) => {
        el.addEventListener('click', (e) => {
            e.preventDefault();
            const closestInput = e.currentTarget.parentNode.querySelector('.form-control');
            const currentValue = parseInt(closestInput.value);
            const itemId = e.currentTarget.dataset.item_id;

            closestInput.value = currentValue + 1;

            handleEnableDisable(closestInput);
        });
    });
    document.querySelectorAll('.decrement-qty').forEach((el) => {
        el.addEventListener('click', (e) => {
            e.preventDefault();
            const closestInput = e.currentTarget.parentNode.querySelector('.form-control');
            const currentValue = parseInt(closestInput.value);
            const itemId = e.currentTarget.dataset.item_id;

            closestInput.value = currentValue - 1;

            handleEnableDisable(closestInput);
        });
    });
</script>